[submodule "externs/imgui"]
	path = externs/imgui
	url = https://github.com/fsword7/imgui.git
[submodule "src/client/glclient/SOIL2"]
	path = src/client/glclient/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "src/client/glclient/nanovg"]
	path = src/client/glclient/nanovg
	url = https://github.com/fsword7/nanovg.git
